@page "/places/{Id:int}"
@inject IPlacesService placesService
@inject IReservationService reservationService
@inject IArenasService arenasService
@using Models
@using Services

@if (place == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3>@place.Name</h3>
            <p>
                <i class="fa fa-fw fa-map-marker-alt"></i>
                @place.Address.Street, @place.Address.Number - @place.Address.City
            </p>
            <p>
                <i class="fa fa-fw fa-phone-alt"></i>
                @place.Phone
            </p>
        </div>
        <div class="col-sm-12">
            <div class="row row-cols-sm-2">
                @foreach (var arena in place.Arenas)
                {
                    <ArenaCard Arena=@arena />
                }
            </div>

            <EditForm Model="@reservation" OnSubmit="@AddReservation">
                <div class="form-group">
                    <label>Quadras:</label>
                    <select class="form-control custom-select" @bind="arenaId">
                        @foreach (var item in place.Arenas)
                        {
                            <option value="@item.Id.ToString()">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Data da reserva: </label>
                    <input type="date" class="form-control" @bind="reservationDate" />
                </div>
                <div class="form-group">
                    <label>Hora da reserva: </label>
                    <input type="time" class="form-control" @bind="reservationTime" />
                </div>
                <div class="fixed-bottom p-3 bg-white">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Reservar</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    Reservation reservation = new Reservation();

    private string arenaId;

    private DateTime reservationTime;

    private DateTime reservationDate;

    Place place;

    protected override async Task OnInitializedAsync()
    {
        place = await placesService.GetPlace(Id);
    }

    private void AddReservation()
    {
        reservation.CreatedAt = DateTime.Now;
        reservation.StartTime = reservationDate.Add(reservationTime.TimeOfDay);
        reservation.EndTime = reservation.StartTime.AddHours(1);
        reservation.Place = place;
        reservation.ArenaId = Convert.ToInt32(arenaId);
        reservation.Status = ReservationStatus.WaitingApprovement;
        reservationService.AddReservation(reservation);
        reservation = new Reservation();
    }
}