@page "/places/{Id:int}"
@inject IPlacesService placesService
@inject IReservationService reservationService
@using Models
@using Services

@if (place == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <h2>@place.Name</h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h5>Telefone</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    @place.Phone
                </li>
            </ul>
            <br />
            <h5>Endereço</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="font-weight-bold">Rua: </a>@place.Address.Street
                </li>
                <li class="list-group-item">
                    <a class="font-weight-bold">Nº: </a>@place.Address.Number
                </li>
                <li class="list-group-item">
                    <a class="font-weight-bold">Bairro: </a>@place.Address.Neighbourhood
                </li>
                <li class="list-group-item">
                    <a class="font-weight-bold">Cidade: </a>@place.Address.City
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <EditForm Model="@reservation" OnSubmit="@AddReservation">
                <div class="form-group">
                    <label>Quadras:</label>
                    <InputSelect @bind-Value="reservation.Arena" class="form-control">
                        @foreach (var item in place.Arenas)
                            {
                            <option value="@item">@item.Name</option>
                            }
                    </InputSelect>

                </div>
                <div class="form-group">
                    <label>Hora de início: </label>
                    <input type="datetime" @bind-value="reservation.StartTime" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Hora do término: </label>
                    <input type="datetime" @bind-value="reservation.EndTime" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Solicitar reserva</button>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    Reservation reservation = new Reservation();

    Place place;

    protected override async Task OnInitializedAsync()
    {
        place = await placesService.GetPlace(Id);
    }

    private void AddReservation()
    {
        reservation.Place = place;
        reservation.Status = ReservationStatus.WaitingApprovement;
        reservationService.AddReservation(reservation);
        reservation = new Reservation();
    }
}