@page "/places/{Id:int}"
@inject IPlacesService placesService
@inject IReservationService reservationService
@inject IArenasService arenasService
@using Models
@using Services

@if (place == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3>@place.Name</h3>
            <p>
                <MatIcon Icon="place"></MatIcon>
                @place.Address.Street, @place.Address.Number - @place.Address.City
            </p>
            <p>
                <MatIcon Icon="phone"></MatIcon>
                @place.Phone
            </p>
        </div>
        <div class="col-sm-12">
            <div class="row row-cols-sm-2">
                @foreach (var arena in place.Arenas)
                {
                    <ArenaCard Arena=@arena />
                }
            </div>

            <EditForm Model="@reservationFormModel" OnValidSubmit="@SaveReservation">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label>Quadras:</label>
                    <MatSelect Label="Selecione uma quadra" @bind-Value="reservationFormModel.ArenaId">
                        @foreach (var item in place.Arenas)
                            {
                            <MatOptionString Value="@item.Id.ToString()">@item.Name</MatOptionString>
                            }
                    </MatSelect>

                </div>
                <div class="form-group">
                    <label>Data da reserva: </label>
                    <input type="date" class="form-control" min="@DateTime.Now" @bind="reservationFormModel.Date"/>
                </div>
                <div class="form-group">
                    <label>Hora da reserva: </label>
                    <input type="time" class="form-control" @bind="reservationFormModel.Time" />
                </div>
                <div class="fixed-bottom p-3 bg-white">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Reservar"/>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public ReservationFormModel reservationFormModel { get; set; }

    public Place place { get; set; }

    protected override async Task OnInitializedAsync()
    {
        reservationFormModel = new ReservationFormModel();
        reservationFormModel.Date = DateTime.Now;
        place = await placesService.GetPlace(Id);
    }

    private void SaveReservation()
    {
        var reservation = new Reservation();
        reservation.CreatedAt = DateTime.Now;
        reservation.StartTime = reservationFormModel.Date.Add(reservationFormModel.Time.TimeOfDay);
        reservation.EndTime = reservation.StartTime.AddHours(1);
        reservation.Place = place;
        reservation.ArenaId = Convert.ToInt32(reservationFormModel.ArenaId);
        reservation.Status = ReservationStatus.WaitingApprovement;
        reservationService.AddReservation(reservation);
        reservationFormModel = new ReservationFormModel();
        reservationFormModel.Date = DateTime.Now;
    }
}